<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/dashboard.css">

</head>
<body>

    <h2>Bem-vindo ao Dashboard</h2>

    <div class="dashboard-options">
        <div class="option">
            <a href="/cadastrar-cartao" class="button">Cadastrar Cartão</a>
        </div>
        <div class="option">
            <a href="/cadastrar-boleto" class="button">Cadastrar Boleto</a>
        </div>
    </div>

</body>
</html>
